{{ block "index" . }}
<!DOCTYPE html> 
<html lang="en">
	<head> 
		<title></title>
		<meta chaset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/css/index.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js" integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ" crossorigin="anonymous"></script>
	</head>
	<body>
		<script>
			document.addEventListener("DOMContentLoaded", (event) => {
				document.body.addEventListener('htmx:beforeSwap', function(evt) {
					if (evt.detail.xhr.status === 422){
						// allow 422 responses to swap 
						// we are using 422 as a signal that a form was submitted with bad data
						// and we want to rerender with the errors 
						//
						// set isError to false to avoid logging in the console 
						evt.detail.shouldSwap = true;
						evt.detail.isError = false;
					}
				})
			})
		</script>
		{{ template "header" .HeaderData }}
		<hr />
		<div id="page-content"> 
			{{ template "profile" . }}
		</div>
	</body>
</html>
{{ end }}


{{ block "header" . }}
	<a href="/">Home</a>
	{{ range .Headers }}
		{{ template "header-link" . }}
	{{ end }}
{{ end }}

{{ block "header-link" . }}
	<div id="header-{{ .Name }}" 
		hx-get="{{ .Path }}"
		hx-target="#page-content">
		{{ .Name }}
	</div>
{{ end }}

{{ block "profile" . }}
	<h1>Thomas Mastromonaco</h1>
	<p>Software Developer</p>
{{ end }}

{{ block "blog" . }}
	<div>Blog</div>
{{ end}}

{{ block "contact" . }}
	<h1>Contact</h1>
	<ul>
		<li>
			<a href="https://github.com/tmastrom" target="_blank" rel="noreferrer">
              GitHub
            </a>
		</li>
		<li>
			<a href="https://www.linkedin.com/in/tmastro/" target="_blank" rel="noreferrer">
              Linkedin
            </a>
		</li>
		<li>
			<a href="thomas.mastromonaco@gmail.com" target="_blank" rel="noreferrer">
              Email
            </a>
		</li>
	</ul>
{{ end}}

