{{ block "content" . }}
	<div class="container">  
		<h1>Projects</h1>
		<ul>	
			{{ range .BlogData.FileNames }}
				<li>
					<div 
						class="nav-link"
						hx-get="blog/{{ . }}"
						hx-push-url="blog/{{ . }}"
						hx-target="#page-content">
						{{ . }}
					</div>
				</li>
			{{ end }}
		</ul>
	</div>
{{ end }}

{{ block "blog-partial" . }}
	<div class="container">  
		<h1>Projects</h1>
		<ul>	
			{{ range . }}
				<li>
					<div 
						class="nav-link"
						hx-get="blog/{{ . }}"
						hx-push-url="blog/{{ . }}"
						hx-target="#page-content">
						{{ . }}
					</div>
				</li>
			{{ end }}
		</ul>
	</div>
{{ end }}
