{{ block "content" . }}
	{{ template "profile" . }}
{{ end }}


{{ block "profile" . }}
	<div class="container">  
		<div>
			<img src="public/images/profile.jpg" alt="profile picture" style="margin:auto; max-width: 150px;" />
			<h1 style="text-align: center;">Thomas Mastromonaco</h1>
			<p style="text-align: center;">Software Developer - Vancouver, BC</p>
		</div>
		<div style="display: flex;
			flex-direction: row;
			justify-content: center;">
			<a href="https://github.com/tmastrom" 
				target="_blank" 
				rel="noreferrer" 
				style="text-align: center; margin: 25px;">
				GitHub
			</a>
			<a href="https://www.linkedin.com/in/tmastro/" 
				target="_blank" 
				rel="noreferrer" 
				style="text-align: center; margin: 25px;">
				LinkedIn
			</a>
			<a href="thomas.mastromonaco@gmail.com" 
				target="_blank" 
				rel="noreferrer" 
				style="text-align: center; margin: 25px;">
				Email
			</a>
		</div>
	</div>
{{ end }}