{{ block "index" . }}
<!DOCTYPE html> 
<html lang="en">
	<head> 
		<title>Thomas Mastromonaco</title>
		<link rel="icon" href="/public/favicon.ico"/>
		<meta chaset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/css/global.css" rel="stylesheet">
		<link href="/css/index.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js" integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ" crossorigin="anonymous"></script>
	</head>
	<body>
		{{ template "header" .HeaderData }}
		<hr />
		<div id="page-content"> 
			{{ template "content" . }}
		</div>
	</body>
</html>
{{ end }}


{{ block "header" . }}
	<div class="container">	
		<div style="display: flex;
		flex-direction: row;
		justify-content: space-between;">
			{{ range .Headers }}
				{{ template "header-link" . }}
			{{ end }}
		</div>
	</div>

{{ end }}

{{ block "header-link" . }}
	<div id="header-{{ .Name }}" 
		class="nav-link"
		hx-get="{{ .Path }}"
		hx-push-url="{{ .Path }}"
		hx-target="#page-content" style="text-align: center; margin: 25px 0px;">
		{{ .Name }}
	</div>
{{ end }}




